body {
  margin: 30px;
  background-color: gainsboro
}

.header {
  color: darkcyan;
  text-align: center;
}

.header-labels {
  color: darkcyan;
  font-size: 15px;
}

input {
  border: 2px solid #ccc;
  padding: 20px;
  width: 500px;
  height: 25px;
  text-align: center;
  font-family: "Source Sans Pro";
  font-size: 15px;
  color: black;
  margin-right: 20px; 
}

.input {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.input button {
  border: 1px solid #ccc;
  font-family: "Source Sans Pro";
  color: #666;
  font-size: 15px;
  position: flex;
  height: 45px;
  width: 80px;
  transition: 0.2s all;
}

.row {
  color: 
}
 

